.bild{

    height: 400px;
}

.carousel-control-next-icon {background-color: red;}

.carousel .carousel-indicators li.active {background-color: blue;}

.button-text{
    position: absolute;
    right:150px;
    top: 440px;
}